<div class="message-wrapper" data-author-id="<%= message.author_id %>" data-direction="<%= [:in, :in, :out].sample %><%#= current_user == message.author ? :in : :out %>">
  <div class="message-bubble">
    <%= timeago(message.created_at) %>
    <div class="message"><%= message.body %></div>
  </div>
</div>
