<div class="conversation">
  <div class="messages">
    <% @messages.each do |message| %>
      <%= render partial: "messages/show", locals: { message: message } %>
    <% end %>
  </div>

  <form class="message-form" action="index.html" method="post">
    <textarea name="body" rows="8" cols="80"></textarea>
  </form>
</div>
