<div class="conversation">
  <div class="messages">
    <% @messages.each do |message| %>
      <%= render partial: "messages/show", locals: { message: message } %>
    <% end %>
  </div>

  <div class="form-wrapper">
    <form class="message-form" action="index.html" method="post">
      <textarea name="body" class="expanding-textarea" placeholder="Send your message"></textarea>
    </form>
  </div>
</div>
